*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: rebeccapurple;
    
}

.background{
    background-color: rgb(211, 211, 211);
    width: 100%;
    flex: 1;
}

.background:nth-child(2){
    display: flex;
    flex-flow: column nowrap;
    flex: 2;
}

.leaves{
    display: flex;
    width: 100%;
    flex: 1;
    background-color: rgb(105, 165, 15);
}

.leave{
    background-color: rgb(105, 165, 15);
    border-radius: 42% 58% 56% 44% / 59% 44% 56% 41% ;
    flex: 1;
}

.bigleave .leave{
    height: 100%;
    align-self: end;
}

.bigleave .leave:first-child{
    display: flex;
    overflow: visible;
    align-items: end;
    width: 100%;
    border-radius: 52% 48% 0 0 / 73% 91% 9% 27%;
}

.bigleave .leave:first-child::after{
    justify-self: end;
    content: "";
    flex: 12;
    display: block;
    width: 82%;
    height: 80%;
    background-color: rgb(23, 109, 23);
    border-radius: 82% 24% 0 0 / 100% 100% 0% 0% ;
}

.bigleave .leave:first-child::before{
    justify-self: start;
    flex:18;
    content: "";
    display: block;
    width: 90%;
    height: 80%;
    background-color: rgb(15, 105, 15);
    border-radius: 24% 82% 0 0 / 100% 100% 0% 0% ;
}

.stem{
    display: block;
    height: 100%;
    flex: 1;
    background-color: rgb(12, 75, 0);
}

.upperleaves{
    border-radius: 60% 80% 0 0 / 85% 91% 9% 27%;
}


.upperleaves .leave:first-child{
    flex: 12;
    border-radius: 50%  ;
}

.upperleaves .leave:nth-child(2){
    flex: 6;
    border-radius: 50%  ;
}

.upperleaves .leave:last-child{
    flex: 12;
    border-radius: 45% 55% 0% 100% / 36% 49% 51% 64%   ;
}

.petals{
    display: flex;
    height: 100%;
    justify-content: center;
}

.flower{
    display: flex;
    background-color:rgb(197, 129, 129) ;
    flex:6;
    border-radius: 68% 71% 74% 74% / 43% 39% 100% 100% ;
}

.flower > .petal{
    display: flex;
    flex-direction: column;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%  ;
    flex: 1;
    background-color: rosybrown;
}

.flower > .petal::after{
    justify-self: end;
    align-self: end;
    content: "";
    flex: 12;
    display: block;
    width: 82%;
    height: 90%;
    background-color: rgb(167, 98, 98);
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%  ;
}

.petal:nth-child(2){
    border-radius: 100% 100% 100% 100% / 100% 100% 100% 100% ;
}

.petal:nth-child(2)::after{
    justify-self: end;
    align-self: center;
    content: "";
    flex: 12;
    display: block;
    width: 80%;
    height: 90%;
    background-color: rgb(167, 98, 98);
    border-radius: 100% 100% 100% 100% / 100% 100% 100% 100% ;
}

.petal:nth-child(3){
    border-radius:100% 0% 100% 0% / 100% 0% 100% 0% ;
}

.petal:nth-child(3)::after{
    justify-self: end;
    align-self: start;
    content: "";
    flex: 12;
    display: block;
    width: 82%;
    height: 90%;
    background-color: rgb(167, 98, 98);
    border-radius:100% 0% 100% 0% / 100% 0% 100% 0% ;
}

.transparent{
    flex:3;
    background-color: transparent;
}

.transparent::after{
    background-color: transparent;
}